.header {
  padding: 1rem;
  border-bottom: 0.0625rem solid rgba(204, 204, 204, 1);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.header__logo {
}
