.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.25rem;
  background-color: var(--white-color);
}

.user__name {
  font-size: 0.95rem;
  margin: 0;
  width: 100%;
}
.user__id {
  font-size: 0.9rem;
}
.sections {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.drag-button {
  padding: 0;
}
.drag-icon {
  width: 1.2rem;
  cursor: pointer;
}
.drag-reset {
  width: 1.1rem;
  cursor: pointer;
}
.drag-remove {
  padding: 0;
  width: fit-content;
}
