.content {
  height: calc(100vh - 5.1rem);
  display: grid;
  padding: 1rem;
  grid-template-columns: 300px 1fr;
}
.content__editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
